@import url('https://fonts.cdnfonts.com/css/molisa-delawere');

html {
    height: 100%;
}

.background-image {
    position: relative;
    height: 100vh;
}

.background-image::before {
    content: "";
    background-image: url('/asset/bg-herror.png');
    /* Replace 'path_to_your_image.jpg' with the path to your image file */
    background-size: cover;
    /* Cover the entire element with the background image */
    background-position: center;
    /* Center the background image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.61;
    /* Adjust the opacity value as needed (0.5 means 50% opacity) */
}

body {
    overflow: hidden;
    font-family: 'Molisa Delawere', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 12vw;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    color: transparent;

    &:focus {
        outline: none;
    }
}

h1::before,
h1::after {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
}

h1::before {
    color: rgb(255, 0, 0);
    clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 60%);
}

h1::after {
    color: white;
    clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 56%);
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translate(-20px, 2%);
    }
}


.btn-container {
    left: 40%;
    position: absolute;
    top: 600px;
}

.glow-on-hover {
    width: 300px;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 3;
    border-radius: 10px;
    font-family: 'Molisa Delawere', sans-serif;
    font-size: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #ff7300, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.fly {
    position: absolute;
    top: 60%;
    width: 200px;
    height: auto;
    left: -200px;
    animation: moveRight 10s linear infinite;
    z-index: 2;

}

@keyframes moveRight {
    0% {
        left: -200px;
        /* Start position */
    }

    100% {
        left: calc(100%);
        /* End position (assuming image width is 100px) */
    }
}