body{
    background-color: black;
}
.loader {
    position: fixed;
    top: 50%;
    left: 47%;
    width: 200px;
    height: 30px;
    background:
        linear-gradient(#fff 50%, #fff0 0),
        linear-gradient(#fff0 50%, #fff 0),
        linear-gradient(#fff 50%, #fff0 0),
        linear-gradient(#fff0 50%, #fff 0),
        linear-gradient(#fff 50%, #fff0 0),
        linear-gradient(#fff0 50%, #fff 0) #000;
    background-size: calc(100%/6 + 1px) 200%;
    background-repeat: no-repeat;
    animation: l12 2s infinite;
}

@keyframes l12 {
    0% {
        background-position: calc(0*100%/5) 100%, calc(1*100%/5) 0%, calc(2*100%/5) 100%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
    }

    16.67% {
        background-position: calc(0*100%/5) 0%, calc(1*100%/5) 0%, calc(2*100%/5) 100%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
    }

    33.33% {
        background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 100%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
    }

    50% {
        background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
    }

    66.67% {
        background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 100%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
    }

    83.33% {
        background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 100%, calc(4*100%/5) 0%, calc(5*100%/5) 0%
    }

    100% {
        background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 100%, calc(4*100%/5) 0%, calc(5*100%/5) 100%
    }
}